{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": 14
      }
    }],
    "@babel/preset-react", "@emotion/babel-preset-css-prop"],
  "plugins": [
    "@emotion/babel-plugin",
    "babel-plugin-macros",
    "@babel/plugin-proposal-class-properties"
  ]
}
