{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": 14
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "styled-jsx/babel",
    "@babel/plugin-proposal-class-properties"
  ]
}
